.row.social-signup-buttons
	.col-xs-4.signup-button: a(href='/auth/facebook?target=' + page.path, title='Sign in with Facebook').btn.btn-link-facebook.btn-block.btn-primary
		span.entypo-social.entypo-s-facebook
		span.signup-button__text  Facebook
	
	.col-xs-4.signup-button: a(href='/auth/google?target=' + page.path, title='Sign in with Google').btn.btn-link-google.btn-block.btn-primary
		span.entypo-social.entypo-google
		span.signup-button__text  Google
	
	.col-xs-4.signup-button: a(href='/auth/twitter?target=' + page.path, title='Sign in with Twitter').btn.btn-link-twitter.btn-block.btn-primary
		span.entypo-social.entypo-twitter
		span.signup-button__text  Twitter